@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Candal&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "card.scss";
@import "navbar.scss";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

.content blockquote {
  background-color: unset;
  border-left: unset;
}

.title-new {
  color: gray;
  text-transform: uppercase;
  letter-spacing: 6px;
}

.heading, .title {
  font-family: $family-secondary;
}

.subtitle {
  font-family: $family-accent;
  color: $accent;
}

.dropdown.is-expanded {
  .dropdown-trigger button {
    width: 100%;
    justify-content: space-between;
  }
}

.modal-card.is-fullwidth {
  width: 100%;
  color: whitesmoke;
}

svg.is-divider {
  display: flex;
}

svg.is-contrasted {
  fill: $white-ter;
}

.is-contrasted .is-accent {
  fill: #fafafa;
}
.is-contrasted:not(svg) {
  background-color: $white-ter;
}
